<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='page_style.css') }}" />
</head>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item" onclick="onClickLogout()">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <section class="hero is-danger" id="theme_color">
            <div class="hero-body center-item">
                <div class="title big_words">
                    Product Categorization Model 
                </div>
                <div class="subtitle big_words">
                    Team DataFit
                </div>
            </div>
        </section>
        
        <div class="hero-body">
            <div class="container has-text-centered center-item">
                <p class="big_words">
                    Managed by
                </p>
                <img src="{{ url_for('static', filename='school_icon.png') }}" alt="School Icon" style="height: 150px; width: auto;"/>
                <!-- {% block content %}
                {% endblock %} -->

            </div>

            <div class="container has-text-centered center-item">
                <p class="big_words">
                    Sponsored by
                </p>
                <img src="{{ url_for('static', filename='AwanTunai.png') }}" alt="School Icon" style="max-height: 150px; width: auto;"/>

            </div>

            <!--  -->
        </div>
        <div class="hero-body center-item">
            <button class="button" onclick="onClickClassify()">
                Categorize
            </button>
        </div>

    </section>
</body>

</html>

<script>
    function onClickLogout() {
        localStorage.removeItem("token");
    }

    function onClickClassify(){
        window.location.href = '/classify'
    }

</script>